<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardiNet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        body {
            background-color: white;
          }
        .nav{
            padding: 10px;
            background-color: #f8f9fa;
          }
          .floating-button {
            position: fixed;
            right: 30px;
            bottom: 30px;
            background-color: #f8f9fa;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
          }
          
          .floating-button button {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: #008894;
            border: none;
            text-decoration: none;
          }

          .floating-button button:hover{
            background: #e8f3f5;
            box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.2);
          }
          .modal {
            display: none; /* Hide the modal by default */
            position: fixed;
            z-index: 999; /* Set a high z-index to ensure it appears above other elements */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(152, 239, 242, 0.1); /* Semi-transparent background overlay */
            overflow: auto;
          }
          
          .modal-content {
            background-color: #fff;
            margin: 10% auto; /* Center the modal vertically and horizontally */
            padding: 4px;
            border: 1px solid #888;
            width: 50%;
            max-width: 500px;
          }
          
          .modal-header {
            padding-bottom: 10px;
            background-color: #008894;
            color: white;
          }
          
          .modal-title {
            margin: 0;
          }
          
          .modal-body {
            padding-bottom: 10px;
            background-color: #f8f9fa;
          }
          
          .modal-footer {
            text-align: center;
          }
          .btn-custom{
            background-color: #008894;
          }
          .btn-custom:hover {
            background-color: #05b0bf;
          }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light nav" style="box-shadow: 0 4px 8px 0 rgba(149, 149, 149, 0.2);">
        <div class="container-fluid">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#008894" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
              <path d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9H1.475Z"/>
              <path d="M.88 8C-2.427 1.68 4.41-2 7.823 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.88Z"/>
            </svg>
            <a class="navbar-brand ml-5 bold" >CardiNet</a>
          </div>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mr-5" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#008894" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
                  Dr. <%= user.first_name %> <%= user.last_name %>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div style="text-align: right;" class="p-3">
            <form action="/detail/database" method="POST" style="display: inline;">
                <input type="hidden" name="patient_id" value="<%= patient[0].id %>">
                <button type="submit" class="btn">all</button> 
            </form>
            <form action="/detail/database/bradycardia" method="POST" style="display: inline;">
                <input type="hidden" name="patient_id" value="<%= patient[0].id %>">
                <button type="submit" class="btn">Bradycardia</button> 
            </form>
            <form action="/detail/database/tachycardia" method="POST" style="display: inline;">
                <input type="hidden" name="patient_id" value="<%= patient[0].id %>">
                <button type="submit" class="btn">Tachycardia</button> 
            </form>
        </div>
        <h3 class="text-center p-2"><%= patient[0].first_name %> <%= patient[0].last_name %> Database</h3>
        <table class="table">
            <thead>
                <tr style="background-color: #008894; color: white">
                    <th>#</th>
                    <th>Recorded at</th>
                    <th>heart rate(Bpm)</th>
                    <th>ECG</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(function(result){ %>
                    <tr>
                        <td><%= result.sn %></td>
                        <td><%= result.formatted_time %></td>
                        <td><%= result.heart_rate %></td>
                        <td>
                            
                          <!-- button -->
                          <button style="background-color: #008894; color: white;"  class="ecgBtn btn" data-toggle="modal" data-target="#myModal" data-user-id="<%=result.ecg%>" >View ECG</button>

                            <!-- The modal -->
                            <div id="myModal" class="modal">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" style="text-align: center;">Recorded ECG wave</h4>
                                </div>
                                <div class="modal-body">
                                  <div class="text-center">
                                    <canvas class="ecg-plot" id="ecgCanvas" width="400" height="300" style="background-color: black; border-radius: 8px;"></canvas>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button class="btn btn-custom" style="color: white;" id="cancelBtn">Close</button>
                                </div>
                              </div>
                            </div>


                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
      </div>
      <div class="floating-button">
        <form action="/detail/patient/<%= patient[0].id %>" method="GET" style="display: inline; border-radius: 6px;">
            <input type="hidden" name="patient_id" value="<%= patient[0].id %>">
            <button href="#" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#008894" class="bi bi-house-heart" viewBox="0 0 16 16">
                    <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                </svg>
                <%= patient[0].first_name %> Dashboard
            </button>
        </form>
      </div>
      <script>
      // Get all ecgView buttons
      const deleteButtons = document.querySelectorAll(".ecgBtn");

      // Attach click event listener to each delete button
      deleteButtons.forEach((button) => {
        button.addEventListener("click", function() {
          const ecgdata = button.getAttribute("data-user-id"); 
          console.log(ecgdata)
          const dataArray = ecgdata.split(",");
          const ecgData = dataArray.map(Number);

          openModal(ecgData);
        });
      });

      // Function to close the modal
      function closeModal() {
        const modal = document.getElementById("myModal");
        modal.style.display = "none";
        
      }
      
      // Function to open the modal and handle the confirm button click event
      function openModal(ecgData) {
        const modal = document.getElementById("myModal")
        const cancelBtn = document.getElementById("cancelBtn")
        cancelBtn.addEventListener("click", function(){
          closeModal()
          location.reload()
        })
        modal.style.display = "block";
        const canvas = document.getElementById("ecgCanvas");
          const ctx = canvas.getContext("2d");
          ctx.fillStyle = "#dbbd7a";
          ctx.fill();
  
          var fps = 60;
          var n = 1;
          const ecg_data = ecgData;
          drawWave();
  
          function drawWave() {
              setTimeout(function() {
                  requestAnimationFrame(drawWave);
                  ctx.lineWidth = "2";
                  ctx.strokeStyle = 'green';
  
                  // Drawing code goes here
                  n += 1;
                  if (n >= ecg_data.length) {
                      n = 1;
                  }
                  ctx.beginPath();
                  ctx.moveTo(n - 1, ecg_data[n - 1]);
                  ctx.lineTo(n, ecg_data[n]);
                  ctx.stroke();
  
                  ctx.clearRect(n+1, 0, 10, canvas.height);
  
                  }, 1000 / fps);
              } 
      }
      </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>